@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
.App {
  text-align: center;
}

.movie-cards{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: absolute;
  font-family: 'Roboto Slab', serif;
}
.movie{
  position: relative;
}
.movie:hover .overview{
  transform: scale(0.9);
}

.movie-name{
  background-color: burlywood;
  margin: 0;
  padding: 1rem 0;
  width: 300px;
  height: 32px;
}

.overview{
  width: 300px;
  position: absolute;
  bottom: 13%;
  background-color: rgba(247, 247, 255, 0.493);
  font-size: 1.1rem;
  font-weight: 500;
  transition: 2s;
}

.form-ele{
  padding: 1rem 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.searched-movies{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: 'Roboto Slab', serif;
}